@import "variables";

.clear {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.display-flex-center {
  display: flex;
  justify-content: center;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.margin-none {
  margin: 0;
}
.margin-top-none {
  margin-top: 0;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-center {
  margin: 0 auto;
}

.margin-left-none {
  margin-left: 0;
}

.margin-s {
  margin: $space-s;
}

.margin-m {
  margin: $space-m;
}

.margin-l {
  margin: $space-l;
}

.margin-top-s {
  margin-top: $space-s;
}

.margin-right-s {
  margin-right: $space-s;
}

.margin-bottom-s {
  margin-bottom: $space-s;
}

.margin-left-s {
  margin-left: $space-s;
}

.margin-top-m {
  margin-top: $space-m;
}

.margin-right-m {
  margin-right: $space-m;
}

.margin-bottom-m {
  margin-bottom: $space-m;
}

.margin-left-m {
  margin-left: $space-m;
}

.margin-top-l {
  margin-top: $space-l;
}

.margin-right-l {
  margin-right: $space-l;
}

.margin-bottom-l {
  margin-bottom: $space-l;
}

.margin-left-l {
  margin-left: $space-l;
}

.padding-none {
  padding: 0;
}

.padding-top-none {
  padding-top: 0;
}

.padding-right-none {
  padding-right: 0;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-left-none {
  padding-left: 0;
}

.padding-s {
  padding: $space-s;
}

.padding-m {
  padding: $space-m;
}

.padding-l {
  padding: $space-l;
}

.padding-top-s {
  padding-top: $space-s;
}

.padding-right-s {
  padding-right: $space-s;
}

.padding-bottom-s {
  padding-bottom: $space-s;
}

.padding-left-s {
  padding-left: $space-s;
}

.padding-top-m {
  padding-top: $space-m;
}

.padding-right-m {
  padding-right: $space-m;
}

.padding-bottom-m {
  padding-bottom: $space-m;
}

.padding-left-m {
  padding-left: $space-m;
}

.padding-top-l {
  padding-top: $space-l;
}

.padding-right-l {
  padding-right: $space-l;
}

.padding-bottom-l {
  padding-bottom: $space-l;
}

.padding-left-l {
  padding-left: $space-l;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-16 {
  font-size: 1rem;
}

.font-600 {
  font-weight: 600;
}

.white {
  color: $white;
}

.error {
  color: $red-medium;
}
