@media only screen and (max-width: 1024px) {
  #kc-form .text-field-wrapper,
  #kc-form .kc-btn {
    max-width: 300px;
  }

  .logo-wrapper {
    text-align: center;
  }
}

.login-headline h1 {
  font-size: 24px;
  font-weight: 300;
  color: $grey-dark-color;
  text-align: center;
}

#kc-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;

  input:focus {
    outline: none;
  }

  .text-field-wrapper {
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    border: 1px solid $grey-light-border;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 0.3rem;
    height: 60px;
    font-size: 20px;
  }
}

#kc-form-login .text-field-wrapper {
  width: 381px;
}

.text-field-wrapper input {
  flex: 1;
  font-size: 18px;
  width: 100%;
  border: none;
}

.kc-btn {
  cursor: pointer;
  height: 60px;
  color: $white;
  font-size: 18px;
  font-weight: bold;
  background-color: $blue-bright;
  margin: 10px;
  width: 381px;
  padding: 10px 15px;
  border: none;
  border-radius: 0.3rem;
}

#login-logo {
  background: url(../svg/logo-vert.svg) no-repeat;
  height: 216.36px;
  width: 230px;
  margin-bottom: 40px;

  &.hidden + .row {
    // TODO reset: delete after reseting org-Theme
    margin-top: 20px;
  }
}

.splitt-item {
  margin: 0 0.5rem;
}
