body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  //background: url(../svg/pattern-left-bottom.svg) no-repeat bottom left, // TODO reset: reimplement for org-Theme
  //url(../svg/pattern-right-bottom.svg) no-repeat bottom right;          // TODO reset: reimplement for org-Theme
  min-height: 100vh;
  background-color: $grey-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color 5000s ease-in-out 0s;
}

#kc-header {
  display: none;
}

#kc-content,
#kc-content-wrapper,
#footer,
.content-wrapper,
.register-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: rgba(0, 0, 0, 0);
  font-size: 13px;
  color: $grey-dark-color;
  margin-bottom: $space-m;
}

#footer-icon {
  width: 24px;
  height: 24px;
  background: url(../svg/lock-fill.svg) no-repeat;
  margin-bottom: $space-m;
}
a {
  color: $grey-dark-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
a:hover {
  color: $blue-bright-link;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.col {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex-grow: 1;
}

.checkbox {
  margin: $space-m 0px;
  display: flex;
  align-items: baseline;
}

.checkbox.item-remember-me,
.item-forgot-pw,
#kc-reset-password-form .back-to-link {
  margin-left: 12px;
}

.checkbox input {
  margin-right: $space-m;
}

.checkbox a {
  color: $blue-bright-link;
}

.alert {
  border-radius: 8px;
  padding: $space-m $space-l;
}

.alert-success {
  color: $green-bright;
  border: 1px solid $green-bright;
}

.alert-error,
.alert-warning {
  color: $error;
  border: 1px solid $error;
}

.alert-info {
  color: $blue-bright;
  border: 1px solid $blue-bright;
}
@media only screen and (max-width: 1024px) {
  .instruction {
    padding: 0 $space-m;
    text-align: center;
  }

  #kc-error-message .back-to-start {
    display: block;
    text-align: center;
  }
  .alert {
    margin: 10px 20px;
  }

  #kc-content .kc-info-container {
    padding: 0 12px;
  }
}
@media only screen and (min-width: 1025px) {
  #kc-content .kc-info-container {
    padding: 0 31px;
  }
}

#kc-content .kc-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > div {
    width: 100%;
  }
}

#footer {
  width: 100%;

  a {
    font-size: 14px;
  }
  .logo-wrapper {
    margin: 20px 0; // TODO reset: to 20px 0 40px;

    // @include default-footer-logos; // TODO reset: reimplement for org-Theme
    @include small-footer-logos; // TODO reset: delete after reseting org-Theme
  }

  // TODO reset: delete the following if not needed anymore
  .powered-by-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid $grey-light-border;

    .img-comjoodoc-logo {
      width: 200px;
      height: auto;
    }
  }
}
