@import "variables";

@mixin logos-shared-style {
  .img-app-store,
  .img-play-store,
  .img-bmwi,
  .img-ce {
    width: auto;
    margin-top: 1rem;
    padding: 3px;
  }
}

@mixin default-footer-logos {
  @include logos-shared-style;
  .img-app-store,
  .img-play-store {
    height: 70px;
  }

  .img-bmwi,
  .img-ce {
    height: 100px;
  }

  .img-dace {
    width: 85px;
    height: 85px;
  }

  .img-app-store,
  .img-play-store,
  .img-bmwi,
  .img-dace {
    margin-left: 1.5rem;
  }
}

@mixin small-footer-logos {
  @include logos-shared-style;

  .img-app-store,
  .img-play-store {
    height: 45px; // old: 70px
  }

  .img-bmwi,
  .img-ce {
    height: 70px; // old: 100px
  }

  .img-dace {
    margin-top: 1rem;
    width: 42.5px; // old: 85px
    height: 42.5px; // old: 85px
  }

  .img-app-store,
  .img-play-store,
  .img-bmwi,
  .img-dace {
    margin-left: 1rem;
  }
}
