.register-form-wrapper {
  display: flex;
  background-color: $white;
  border-radius: 8px;
  box-shadow: $shadow-grey;
}
#kc-register-form {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.register-form-img-wrapper {
  flex: 1 1 50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: url(../img/login-img-doctor.jpg);
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .register-form-img-wrapper {
    display: none;
  }
  .register-form-wrapper {
    margin: 15px 15px 0;
  }

  #kc-register-form {
    flex: 1 1 70%;
    min-width: 320px;
    padding: $space-m;

    .info-text {
      text-align: center;
    }

    .kc-btn {
      width: 100%;
    }

    .text-field-wrapper,
    .kc-btn {
      max-width: 100%;
    }

    .form-group.register-options #kc-form-options {
      padding-bottom: $space-m;
    }
  }
  #kc-form {
    padding: 0;
  }
}

#kc-register-form {
  .info-text p {
    margin-bottom: 0;
  }

  .form-group + .form-group {
    margin-left: $space-m;
  }

  .form-group.register-options {
    margin-left: 0;
  }
}

#register-logo {
  height: auto;
  width: 230px;
  margin-bottom: 20px;
}
.register-type {
  margin-bottom: 20px;
}
.text-field-wrapper {
  overflow: hidden;
}

.btn {
  color: $grey-dark;
  padding: 20px 0px;
  margin-right: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  color: $grey-dark-bg;
}
.btn:focus {
  outline: none;
}
.active-tab {
  box-shadow: inset 0 -5px 0 0 $blue-bright;
  color: $black;
}
.radios-wrapper {
  display: flex;
}
.radio-btn-wrapper {
  display: none;
  align-items: center;
  margin-right: 10px;
}
.radio-btn-wrapper input {
  margin-right: 5px;
}
