.clear {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.display-flex-center {
  display: flex;
  justify-content: center;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.margin-none {
  margin: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-center {
  margin: 0 auto;
}

.margin-left-none {
  margin-left: 0;
}

.margin-s {
  margin: 5px;
}

.margin-m {
  margin: 10px;
}

.margin-l {
  margin: 20px;
}

.margin-top-s {
  margin-top: 5px;
}

.margin-right-s {
  margin-right: 5px;
}

.margin-bottom-s {
  margin-bottom: 5px;
}

.margin-left-s {
  margin-left: 5px;
}

.margin-top-m {
  margin-top: 10px;
}

.margin-right-m {
  margin-right: 10px;
}

.margin-bottom-m {
  margin-bottom: 10px;
}

.margin-left-m {
  margin-left: 10px;
}

.margin-top-l {
  margin-top: 20px;
}

.margin-right-l {
  margin-right: 20px;
}

.margin-bottom-l {
  margin-bottom: 20px;
}

.margin-left-l {
  margin-left: 20px;
}

.padding-none {
  padding: 0;
}

.padding-top-none {
  padding-top: 0;
}

.padding-right-none {
  padding-right: 0;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-left-none {
  padding-left: 0;
}

.padding-s {
  padding: 5px;
}

.padding-m {
  padding: 10px;
}

.padding-l {
  padding: 20px;
}

.padding-top-s {
  padding-top: 5px;
}

.padding-right-s {
  padding-right: 5px;
}

.padding-bottom-s {
  padding-bottom: 5px;
}

.padding-left-s {
  padding-left: 5px;
}

.padding-top-m {
  padding-top: 10px;
}

.padding-right-m {
  padding-right: 10px;
}

.padding-bottom-m {
  padding-bottom: 10px;
}

.padding-left-m {
  padding-left: 10px;
}

.padding-top-l {
  padding-top: 20px;
}

.padding-right-l {
  padding-right: 20px;
}

.padding-bottom-l {
  padding-bottom: 20px;
}

.padding-left-l {
  padding-left: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-16 {
  font-size: 1rem;
}

.font-600 {
  font-weight: 600;
}

.white {
  color: #fff;
}

.error {
  color: #e81515cc;
}

@media only screen and (max-width: 1024px) {
  #kc-form .text-field-wrapper,
#kc-form .kc-btn {
    max-width: 300px;
  }

  .logo-wrapper {
    text-align: center;
  }
}
.login-headline h1 {
  font-size: 24px;
  font-weight: 300;
  color: #7d7d7d;
  text-align: center;
}

#kc-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#kc-form input:focus {
  outline: none;
}
#kc-form .text-field-wrapper {
  flex-grow: 1;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 0.3rem;
  height: 60px;
  font-size: 20px;
}

#kc-form-login .text-field-wrapper {
  width: 381px;
}

.text-field-wrapper input {
  flex: 1;
  font-size: 18px;
  width: 100%;
  border: none;
}

.kc-btn {
  cursor: pointer;
  height: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #08aeea;
  margin: 10px;
  width: 381px;
  padding: 10px 15px;
  border: none;
  border-radius: 0.3rem;
}

#login-logo {
  background: url(../svg/logo-vert.svg) no-repeat;
  height: 216.36px;
  width: 230px;
  margin-bottom: 40px;
}
#login-logo.hidden + .row {
  margin-top: 20px;
}

.splitt-item {
  margin: 0 0.5rem;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  background-color: #f6f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

#kc-header {
  display: none;
}

#kc-content,
#kc-content-wrapper,
#footer,
.content-wrapper,
.register-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: rgba(0, 0, 0, 0);
  font-size: 13px;
  color: #7d7d7d;
  margin-bottom: 10px;
}

#footer-icon {
  width: 24px;
  height: 24px;
  background: url(../svg/lock-fill.svg) no-repeat;
  margin-bottom: 10px;
}

a {
  color: #7d7d7d;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  color: #179ecf;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex-grow: 1;
}

.checkbox {
  margin: 10px 0px;
  display: flex;
  align-items: baseline;
}

.checkbox.item-remember-me,
.item-forgot-pw,
#kc-reset-password-form .back-to-link {
  margin-left: 12px;
}

.checkbox input {
  margin-right: 10px;
}

.checkbox a {
  color: #179ecf;
}

.alert {
  border-radius: 8px;
  padding: 10px 20px;
}

.alert-success {
  color: #12e066;
  border: 1px solid #12e066;
}

.alert-error,
.alert-warning {
  color: #db1f6b;
  border: 1px solid #db1f6b;
}

.alert-info {
  color: #08aeea;
  border: 1px solid #08aeea;
}

@media only screen and (max-width: 1024px) {
  .instruction {
    padding: 0 10px;
    text-align: center;
  }

  #kc-error-message .back-to-start {
    display: block;
    text-align: center;
  }

  .alert {
    margin: 10px 20px;
  }

  #kc-content .kc-info-container {
    padding: 0 12px;
  }
}
@media only screen and (min-width: 1025px) {
  #kc-content .kc-info-container {
    padding: 0 31px;
  }
}
#kc-content .kc-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#kc-content .kc-info-container > div {
  width: 100%;
}

#footer {
  width: 100%;
}
#footer a {
  font-size: 14px;
}
#footer .logo-wrapper {
  margin: 20px 0;
}
#footer .logo-wrapper .img-app-store,
#footer .logo-wrapper .img-play-store,
#footer .logo-wrapper .img-bmwi,
#footer .logo-wrapper .img-ce {
  width: auto;
  margin-top: 1rem;
  padding: 3px;
}
#footer .logo-wrapper .img-app-store,
#footer .logo-wrapper .img-play-store {
  height: 45px;
}
#footer .logo-wrapper .img-bmwi,
#footer .logo-wrapper .img-ce {
  height: 70px;
}
#footer .logo-wrapper .img-dace {
  margin-top: 1rem;
  width: 42.5px;
  height: 42.5px;
}
#footer .logo-wrapper .img-app-store,
#footer .logo-wrapper .img-play-store,
#footer .logo-wrapper .img-bmwi,
#footer .logo-wrapper .img-dace {
  margin-left: 1rem;
}
#footer .powered-by-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #d7d7d7;
}
#footer .powered-by-wrapper .img-comjoodoc-logo {
  width: 200px;
  height: auto;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.register-form-wrapper {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);
}

#kc-register-form {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.register-form-img-wrapper {
  flex: 1 1 50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: url(../img/login-img-doctor.jpg);
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .register-form-img-wrapper {
    display: none;
  }

  .register-form-wrapper {
    margin: 15px 15px 0;
  }

  #kc-register-form {
    flex: 1 1 70%;
    min-width: 320px;
    padding: 10px;
  }
  #kc-register-form .info-text {
    text-align: center;
  }
  #kc-register-form .kc-btn {
    width: 100%;
  }
  #kc-register-form .text-field-wrapper,
#kc-register-form .kc-btn {
    max-width: 100%;
  }
  #kc-register-form .form-group.register-options #kc-form-options {
    padding-bottom: 10px;
  }

  #kc-form {
    padding: 0;
  }
}
#kc-register-form .info-text p {
  margin-bottom: 0;
}
#kc-register-form .form-group + .form-group {
  margin-left: 10px;
}
#kc-register-form .form-group.register-options {
  margin-left: 0;
}

#register-logo {
  height: auto;
  width: 230px;
  margin-bottom: 20px;
}

.register-type {
  margin-bottom: 20px;
}

.text-field-wrapper {
  overflow: hidden;
}

.btn {
  color: #313237;
  padding: 20px 0px;
  margin-right: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  color: #393a40;
}

.btn:focus {
  outline: none;
}

.active-tab {
  box-shadow: inset 0 -5px 0 0 #08aeea;
  color: #000;
}

.radios-wrapper {
  display: flex;
}

.radio-btn-wrapper {
  display: none;
  align-items: center;
  margin-right: 10px;
}

.radio-btn-wrapper input {
  margin-right: 5px;
}

/*# sourceMappingURL=styles.css.map */
