$white: #fff;
$black: #000;
$grey-dark: #313237;
$grey-dark-bg: #393a40;
$grey-dark-border: #777;
$grey-dark-color: #7d7d7d;
$grey-light-border: #d7d7d7;
$grey-medium: #eef0f4;
$grey-light: #f6f7f7;
$red-medium: #e81515cc;
$red-bright: #ff1a1a;
$rose: #f8607a;
$error: #db1f6b;
$blue-bright: #08aeea;
$blue-bright-link: #179ecf;
$green-bright: #12e066;

$shadow-grey: 0 2px 3px 0 rgba(0, 0, 0, 0.14);

$space-s: 5px;
$space-m: 10px;
$space-l: 20px;
