<#import "template.ftl" as layout>
<@layout.mainLayout active='password' bodyClass='password'; section>

    <div class="row my-3">
        <div class="col-md-10">
            <h2>${msg("changePasswordHtmlTitle")}</h2>
        </div>
    </div>

    <form action="${url.passwordUrl}" class="form-horizontal" method="post">
        <input type="text" id="username" name="username" value="${(account.username!'')}" autocomplete="username" readonly="readonly" style="display:none;">

        <#if password.passwordSet>
            <div class="form-group">
                <div class="col-sm-2 col-md-4">
                    <label for="password" class="control-label">${msg("password")}</label> <span class="required">(required)</span>
                </div>

                <div class="col-sm-12 col-md-12">
                    <input type="password" class="form-control" id="password" name="password" autofocus autocomplete="current-password" required>
                </div>
            </div>
        </#if>

        <input type="hidden" id="stateChecker" name="stateChecker" value="${stateChecker}">

        <div class="form-group">
            <div class="col-sm-2 col-md-4">
                <label for="password-new" class="control-label">${msg("passwordNew")}</label> <span class="required">(required)</span>
            </div>

            <div class="col-sm-12 col-md-12">
                <input type="password" class="form-control" id="password-new" name="password-new" autocomplete="new-password" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-md-4">
                <label for="password-confirm" class="control-label" class="two-lines">${msg("passwordConfirm")}</label> <span class="required">(required)</span>
            </div>

            <div class="col-sm-12 col-md-12">
                <input type="password" class="form-control" id="password-confirm" name="password-confirm" autocomplete="new-password" required>
            </div>
        </div>

        <div class="form-group">
            <div id="kc-form-buttons" class="col-md-offset-2 col-md-10 submit">
                <div class="">
                    <button type="submit" class="${properties.kcButtonClass!} ${properties.kcButtonPrimaryClass!} ${properties.kcButtonLargeClass!}" name="submitAction" value="Save">${msg("doSave")}</button>
                </div>
            </div>
        </div>
    </form>

</@layout.mainLayout>
